In [1]:
import pandas as pd

In [2]:
# save filepath to variable for easier access
melbourne_file_path = '../input/melbourne-housing-snapshot/melb_data.csv'
# read the data and store data in DataFrame titled melbourne_data
melbourne_data = pd.read_csv(r"C:\Users\AICAMP\Downloads\melb_data.csv\melb_data.csv") 
# print a summary of the data in Melbourne data
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [3]:
melbourne_file_path = '../input/melbourne-housing-snapshot/melb_data.csv'
melbourne_data = pd.read_csv(r"C:\Users\AICAMP\Downloads\melb_data.csv\melb_data.csv") 
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [4]:
# The Melbourne data has some missing values (some houses for which some variables weren't recorded.)
# We'll learn to handle missing values in a later tutorial.  
# Your Iowa data doesn't have missing values in the columns you use. 
# So we will take the simplest option for now, and drop houses from our data. 
# Don't worry about this much for now, though the code is:

# dropna drops missing values (think of na as "not available")
melbourne_data = melbourne_data.dropna(axis=0)

In [5]:
y = melbourne_data.Price

In [6]:
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [7]:
X = melbourne_data[melbourne_features]

In [8]:
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [9]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [10]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
melbourne_model = DecisionTreeRegressor(random_state=1)

# Fit model
melbourne_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [11]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

In [12]:
print("Making predictions for the following 5 houses:")
print(X.tail())
print("The predictions are")
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
       Rooms  Bathroom  Landsize  Lattitude  Longtitude
12205      3       2.0     972.0  -37.51232   145.13282
12206      3       1.0     179.0  -37.86558   144.90474
12207      1       1.0       0.0  -37.85588   144.89936
12209      2       1.0       0.0  -37.85581   144.99025
12212      6       3.0    1087.0  -37.81038   144.89389
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

In [13]:
above_5 = X[X["Rooms"] > 5]

In [14]:
above_5

       Rooms  Bathroom  Landsize  Lattitude  Longtitude
47         6       3.0     976.0  -37.72390   144.87350
251        6       3.0    1491.0  -37.86020   145.01300
292        6       3.0    1014.0  -37.77210   144.91840
322        6       2.0     461.0  -37.78000   144.92950
379        8       7.0    1472.0  -37.87290   145.07880
515        6       4.0    2051.0  -37.80510   145.10160
636        7       3.0     637.0  -37.78980   145.09670
776        6       3.0     708.0  -37.91810   145.04400
1417       7       3.0     447.0  -37.76340   144.94030
2372       6       4.0     860.0  -37.74840   144.90250
3255       8       4.0     638.0  -37.74260   145.04800
3616       6       6.0    1334.0  -37.80290   145.02670
3707       6       3.0     730.0  -37.79170   145.05090
4285       8       2.0     663.0  -37.83850   144.88240
4399       6       2.0     772.0  -37.78130   145.00650
4559       6       2.0    1200.0  -37.90990   145.08750
6186       6       3.0     713.0  -37.83280   145.10400
6881       7       2.0     614.0  -37.75000   144.88580
7015       6       2.0     350.0  -37.82190   145.05560
7220       6       3.0     554.0  -37.80530   144.86810
7229       6       2.0       0.0  -37.80900   144.86860
7468       6       3.0    1012.0  -37.77210   144.91840
7658       6       2.0     665.0  -37.84930   145.12830
7764       6       3.0     768.0  -37.73970   144.96030
8792       6       3.0    1056.0  -37.78053   145.15567
8793       7       2.0    5022.0  -37.76598   145.19329
9233       6       4.0     472.0  -37.85231   144.96373
10085      6       2.0     453.0  -37.87309   145.23078
10177      7       4.0     765.0  -37.85103   145.11232
10214      6       2.0     655.0  -37.59052   144.93066
10240      6       4.0     840.0  -38.03548   145.11763
10244      6       3.0     804.0  -37.70872   145.16102
10524      6       2.0     588.0  -37.77049   144.83167
10991      6       3.0     850.0  -37.62856   144.71825
11207      7       3.0     608.0  -37.73681   144.90587
12181      6       3.0    1054.0  -37.77404   145.11703
12212      6       3.0    1087.0  -37.81038   144.89389

In [15]:
above_5 = X[X["Bathroom"] > 1]

In [17]:
above_5

       Rooms  Bathroom  Landsize  Lattitude  Longtitude
2          3       2.0     134.0  -37.80930   144.99440
6          3       2.0     245.0  -37.80240   144.99930
11         3       2.0     214.0  -37.80850   144.99640
12         2       2.0       0.0  -37.80780   144.99650
16         3       2.0     113.0  -37.80560   144.99300
20         4       2.0     780.0  -37.80730   144.99520
24         2       2.0     124.0  -37.80790   144.99770
27         3       3.0     166.0  -37.80170   145.00010
29         2       2.0      98.0  -37.80050   144.99520
35         3       2.0     120.0  -37.80220   144.99540
38         3       2.0     303.0  -37.71800   144.87800
39         3       2.0       0.0  -37.72030   144.87550
40         3       2.0       0.0  -37.72030   144.87550
42         3       2.0     239.0  -37.72180   144.88370
47         6       3.0     976.0  -37.72390   144.87350
56         3       2.0     165.0  -37.72700   144.88700
61         3       2.0     612.0  -37.71730   144.87960
63         4       3.0     531.0  -37.72630   144.86790
64         3       3.0     555.0  -37.72850   144.86940
65         3       2.0     422.0  -37.71640   144.87920
67         3       2.0     161.0  -37.72310   144.88020
68         3       2.0     293.0  -37.72000   144.87760
77         4       2.0     628.0  -37.72560   144.87390
80         3       2.0     211.0  -37.84810   144.94990
81         3       2.0     128.0  -37.84520   144.94880
85         4       2.0     153.0  -37.84470   144.95230
87         3       2.0     132.0  -37.84150   144.95200
90         3       2.0      90.0  -37.84210   144.95710
92         3       2.0     177.0  -37.84150   144.95850
95         3       2.0       0.0  -37.84510   144.95110
...      ...       ...       ...        ...         ...
12079      3       2.0     555.0  -37.67640   145.05085
12080      3       2.0     661.0  -37.66898   145.07209
12086      4       2.0     375.0  -37.76261   144.93249
12092      3       2.0     660.0  -37.86198   145.13900
12110      3       2.0     266.0  -37.82923   145.17440
12112      4       2.0     866.0  -37.71979   144.92341
12113      4       2.0     656.0  -37.71652   144.91211
12122      4       2.0     448.0  -37.91269   144.73946
12143      3       2.0     941.0  -37.81289   145.24213
12148      3       2.0     266.0  -37.63544   144.93274
12149      3       2.0     400.0  -37.62584   144.92506
12150      4       2.0     390.0  -37.96000   145.02068
12151      4       2.0     404.0  -37.95882   145.02138
12153      4       2.0     771.0  -38.10052   145.13397
12154      4       2.0     535.0  -38.09683   145.12981
12157      3       2.0     340.0  -37.83172   144.86683
12172      3       2.0     563.0  -37.57499   144.75329
12177      3       2.0     662.0  -37.70525   144.75699
12180      3       2.0     779.0  -37.76311   145.10494
12181      6       3.0    1054.0  -37.77404   145.11703
12186      3       2.0     199.0  -37.75948   144.99615
12187      3       2.0     238.0  -37.70322   144.88236
12192      5       3.0     818.0  -37.87846   145.24212
12197      4       2.0     555.0  -37.89359   144.66911
12198      4       2.0     533.0  -37.89337   144.64003
12199      3       2.0     287.0  -37.87895   144.67070
12202      4       3.0     544.0  -37.67841   144.87924
12203      3       2.0     691.0  -37.68026   144.88468
12205      3       2.0     972.0  -37.51232   145.13282
12212      6       3.0    1087.0  -37.81038   144.89389

[2912 rows x 5 columns]

In [20]:
from sklearn.metrics import mean_absolute_error

predicted_home_prices = melbourne_model.predict(X)
mean_absolute_error(y, predicted_home_prices)

1115.7467183128902

In [22]:
from sklearn.model_selection import train_test_split

# split data into training and validation data, for both features and target
# The split is based on a random number generator. Supplying a numeric value to
# the random_state argument guarantees we get the same split every time we
# run this script.
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)
# Define model
melbourne_model = DecisionTreeRegressor()
# Fit model
melbourne_model.fit(train_X, train_y)

# get predicted prices on validation data
val_predictions = melbourne_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

275813.0981278244

In [23]:
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [25]:
# compare MAE with differing values of max_leaf_nodes
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  385696
Max leaf nodes: 50  		 Mean Absolute Error:  279794
Max leaf nodes: 500  		 Mean Absolute Error:  261718
Max leaf nodes: 5000  		 Mean Absolute Error:  271996

In [26]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)
melb_preds = forest_model.predict(val_X)
print(mean_absolute_error(val_y, melb_preds))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

218482.25517538196